@media (min-width: 375px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background: #e5e5e5;
  }

  a {
    text-decoration: none;
    color: #344563;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 20px;
  }

  p {
    margin: 10px 0;
  }

  .container {
    max-width: 350px;
    margin: 10px auto;
    padding: 24px;
    background: #fff;
  }

  /* Header */
  header {
    margin-bottom: 95px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    color: #6070ff;
    margin-bottom: 35px;
  }

  nav h1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }

  nav a i {
    color: #6070ff;
    font-size: 18px;
  }
}
